<header>
  <h1 class="mt-3 text-center fuente-1">¿QUIÉN GANA?</h1>
  <h2 class="text-center text-light fuente-1 mx-1">
    Elije quién crees que ganará en una batalla de SuperHeroes.
  </h2>
  <div class="d-flex justify-content-center text-light fuente-1 mx-1" *ngIf="racha>0">
    <img src="../../../assets/fire.gif" class="gif" alt="fuego" />
    <p class="aling-items-center my-auto mx-2">Nivel de Racha : {{ racha }}</p>
    <img src="../../../assets/fire.gif" class="gif" alt="fuego" />
  </div>
</header>
<div class="d-flex justify-content-center fuente-1">
  <div
    class="card mx-3 my-3"
    *ngIf="superheroe1"
    tabindex="0"
    (click)="select(superheroe1.name)"
  >
    <div
      class="barra"
      [class.active]="barAnimationActive"
      [style.background-color]="
        superHeroGanador === undefined
          ? '#676061'
          : superHeroGanador
          ? '#43dc35'
          : '#dc3545'
      "
    >
      <p
        class="text-light text-center mt-3 text-title"
        *ngIf="barAnimationActive && superHeroGanador"
      >
        Victoria
      </p>
      <p
        class="text-light text-center mt-3 text-title"
        *ngIf="barAnimationActive && superHeroGanador === false"
      >
        Derrota
      </p>
      <p
        class="text-light text-center mt-3 text-title"
        *ngIf="barAnimationActive && superHeroGanador === undefined"
      >
        Empate
      </p>
      <h5 class="text-light text-center mt-3" *ngIf="barAnimationActive">
        Nivel de poder: {{ superheroe1.powerstats.power }}
      </h5>
    </div>
    <div class="card-body text-light">
      <img
        *ngIf="superheroe1.image?.url"
        [src]="superheroe1.image.url"
        alt="{{ superheroe1.name }}"
        class="card-img-top img-poke mx-auto"
        alt="{{ superheroe1.name }}"
      />
      <h1 class="text-center my-3 text-title">
        {{ superheroe1.name }}
      </h1>
      <h5>Detalles:</h5>
      <ul>
        <li>
          {{ superheroe1.biography?.publisher }}
        </li>
        <li>Raza: {{ superheroe1.appearance?.race }}</li>
        <li>Género: {{ superheroe1.appearance?.gender }}</li>
      </ul>
    </div>
  </div>
  <div
    class="card mx-3 my-3"
    *ngIf="superheroe2"
    tabindex="0"
    (click)="select(superheroe2.name)"
  >
    <div
      class="barra"
      [class.active]="barAnimationActive"
      [style.background-color]="
        superHeroGanador === undefined
          ? '#676061'
          : !superHeroGanador
          ? '#43dc35'
          : '#dc3545'
      "
    >
      <p
        class="text-light text-center mt-3 text-title"
        *ngIf="barAnimationActive && superHeroGanador === false"
      >
        Victoria
      </p>
      <p
        class="text-light text-center mt-3 text-title"
        *ngIf="barAnimationActive && superHeroGanador"
      >
        Derrota
      </p>
      <p
        class="text-light text-center mt-3 text-title"
        *ngIf="barAnimationActive && superHeroGanador === undefined"
      >
        Empate
      </p>
      <h5 class="text-light text-center mt-3" *ngIf="barAnimationActive">
        Nivel de poder: {{ superheroe2.powerstats.power }}
      </h5>
    </div>
    <div class="card-body text-light">
      <img
        *ngIf="superheroe2.image?.url"
        [src]="superheroe2.image.url"
        alt="{{ superheroe2.name }}"
        class="card-img-top img-poke mx-auto"
        alt="{{ superheroe2.name }}"
      />
      <h1 class="text-center text-title my-3">
        {{ superheroe2.name }}
      </h1>
      <h5>Detalles:</h5>
      <ul>
        <li>
          {{ superheroe2.biography?.publisher }}
        </li>
        <li>Raza: {{ superheroe2.appearance?.race }}</li>
        <li>Género: {{ superheroe2.appearance?.gender }}</li>
      </ul>
    </div>
  </div>
</div>
<div class="text-center my-4">
  <p class="text-center fuente-1" *ngIf="alertaPokemonSelect">
    Selecciona un SuperHeroe
  </p>
  <button class="button fuente-1" (click)="batalla()">Batalla</button>
</div>


<!-- Mejorar diseño y letras -->