h1 {
  font-size: 22px;
}
.text-p {
  font-size: 10px;
}
.card {
  width: 240px;
  min-height: 300px;
  font-size: 10px;
  background: #222121;
  box-shadow: 0 8px 32px 0 rgba(117, 86, 86, 0.37);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.18);
  transition: border 0.5s;
  cursor: pointer;
}
h2 {
  font-size: 15px;
}
.card:hover {
  border: rgb(150, 72, 171) solid;
}
.card:focus {
  border: rgb(144, 49, 171) solid;
}

/* CSS */
.barra {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 10px;
  /* background-color: #dc3545; */
  transition: height 0.5s;
}

.barra.active {
  height: 29%; /* Altura de la barra al 50% de la tarjeta */
}

.gif {
  width: 20px;
  object-fit: contain;
}
