<header>
    <h1 class="mt-3 text-center fuente-1">¿QUÉ PREFIERES?</h1>
    <h2 class="text-center text-light fuente-1 mx-1">
      Elije tu SuperHeroe favorito!
    </h2>
  </header>
  <div class="d-flex justify-content-center fuente-1">
    <div
      class="card mx-3 my-3"
      *ngIf="superheroe1"
      tabindex="0"
      (click)="refrestar()"
    >
      <div class="card-body text-light">
        <img
          *ngIf="superheroe1.image?.url"
          [src]="superheroe1.image.url"
          alt="{{ superheroe1.name }}"
          class="card-img-top img-poke mx-auto"
          alt="{{ superheroe1.name }}"
        />
        <h1 class="text-center my-3 text-title">
          {{ superheroe1.name }}
        </h1>
        <h5>Detalles:</h5>
        <ul>
          <li>
            {{ superheroe1.biography?.publisher }}
          </li>
          <li>Raza: {{ superheroe1.appearance?.race }}</li>
          <li>Género: {{ superheroe1.appearance?.gender }}</li>
        </ul>
      </div>
    </div>
    <div
      class="card mx-3 my-3"
      *ngIf="superheroe2"
      tabindex="0"
      (click)="refrestar()"
    >
      <div class="card-body text-light">
        <img
          *ngIf="superheroe2.image?.url"
          [src]="superheroe2.image.url"
          alt="{{ superheroe2.name }}"
          class="card-img-top img-poke mx-auto"
          alt="{{ superheroe2.name }}"
        />
        <h1 class="text-center text-title my-3">
          {{ superheroe2.name }}
        </h1>
        <h5>Detalles:</h5>
        <ul>
          <li>
            {{ superheroe2.biography?.publisher }}
          </li>
          <li>Raza: {{ superheroe2.appearance?.race }}</li>
          <li>Género: {{ superheroe2.appearance?.gender }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center my-4">
    <button class="button fuente-1" (click)="refrestar()">Actualizar</button>
  </div>