<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SuperHeroVS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">¿Qué Prefieres?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ver todos</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Disabled</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search" *ngIf="true">
        <input
          class="input"
          type="text"
          name="search"
          placeholder="Buscar Super Heroe"
        />
      </form>
    </div>
  </div>
</nav>

<div class="fuente-1 p-5 m-5">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quo molestiae
  quidem voluptates laborum dolorum similique neque, earum, possimus deleniti
  harum nihil nulla fugit ipsum eligendi iusto animi et illo! Adipisci eveniet
  enim fuga quaerat ipsa molestiae ipsam iste reprehenderit voluptatem laborum,
  harum quo, illo sequi, aliquid animi suscipit fugit illum eos voluptatibus
  inventore repudiandae consequuntur! Ex cumque laborum iusto? Culpa inventore
  possimus laboriosam voluptatibus delectus suscipit officia, eaque fuga. Minus
  illo, dicta quos rerum iure ullam? Inventore officiis earum, veniam eius
  laboriosam 
</div>


<app-footer></app-footer>